$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(./imgs/coding-academy.jpeg);

$background-opacity: 0.9;

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}

@mixin easeOut {
  transition: all 1.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
* {
  box-sizing: border-box;
}

#bg-img {
  @include background;
  background-color: $primary-color;
  color: #fff;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }
  //Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      //Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      //Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
  &-branding,
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    font-size: 3vw;
    transform: translate3d(0, -100%, 0);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;

    @include easeOut;
    &.show {
      //Slide in from top
      transform: translate3d(0, 0, 0);
      :hover {
        color: $secondary-color;
      }
    }
  }
  //Branding Side
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      //Slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    img {
      width: 250px;
      height: 250px;
      margin: auto;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }
}

//Responsive Home page
@media all and (max-width: 766px) {
  #bg-img {
    height: 100vh;
    main#home {
      text-align: center;
      align-items: center;

      h1 {
        margin-top: 10vh;
        line-height: 1;
        margin-bottom: 1rem;
        font-size: 3rem;
      }
    }
    ul.menu-nav,
    div.menu-branding {
      width: 100%;
      min-height: 0;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
    .menu-nav {
      height: 75vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 25px;
    }
    .menu-branding {
      height: 25vh;
      transform: translate3d(100%, 0, 0);

      img {
        width: 110px;
        height: 110px;
      }
    }
  }
}

$secondary-color: #eece1a;

//Page About Me

#about-me-page {
  background-color: $primary-color;
  color: #fff;
  li.nav-item {
    padding-bottom: 5%;
  }
  h1.lg-heading {
    text-align: center;
    height: 100px;
  }
  #left_and_right_padding {
    padding-left: 4%;
    padding-right: 4%;

    #presentation {
      height: 300px;
      width: 100%;

      .bio-container {
        width: 100%;

        display: flex;

        .about-me-portrait {
          display: grid;
          width: 30%;
          height: auto;
          place-items: center;

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: solid 3px $secondary-color;
          }
        }
        #bio {
          width: 60%;
          margin: auto;
        }
      }
    }
    .container {
      display: grid;
      grid-template-areas: "a b c ";
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3%;
      .first-job {
        grid-area: a;
      }
      .second-job {
        grid-area: b;
      }
      .third-job {
        grid-area: c;
      }
      h2 {
        color: $secondary-color;
      }
      span {
        color: #eece1a;
        font-weight: bold;
        text-decoration: underline #fff;
      }
    }
  }
}

@media all and (max-width: 766px) {
  //Page About Me
  #about-me-page {
    margin: none;
    h1.lg-heading {
      padding-top: 4%;
      height: 100px;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .text-secondary {
        padding-left: 1.2vw;
      }
    }
    ul.menu-nav,
    div.menu-branding {
      width: 100%;
      min-height: 0;
      margin: auto;
      font-size: 25px;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
    .menu-nav {
      height: 75vh;
      transform: translate3d(-100%, 0, 0);

      li.nav-item {
        padding-bottom: 5%;
      }
    }
    .menu-branding {
      height: 25vh;
      transform: translate3d(100%, 0, 0);

      img {
        width: 110px;
        height: 110px;
      }
    }

    .bio-container {
      width: 100% !important;
      display: block !important;

      .about-me-portrait {
        display: grid !important;
        margin-right: none !important;
        width: 100% !important;
        height: auto !important;
        place-items: center !important;
        margin-bottom: 15px;

        img {
          width: 150px !important;
          height: 150px !important;
        }
      }
      #bio {
        width: 100% !important;
      }
    }
  }
  .container {
    grid-template-areas: "a" "b" "c" !important;
    grid-template-columns: 1fr !important;
  }
}

//My Work
#my-work-page {
  background-color: $primary-color;
  height: 100vh;

  h1 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
      font-size: 5rem;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  #text-secondary {
    color: $secondary-color;
  }
  .projects {
    margin: auto;
    display: grid;
    grid-template-areas: "col-sm col-sm col-sm";
    grid-gap: 0.7rem;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;

    .item {
      width: 100%;
      position: relative;
      margin: auto;

      img {
        width: 100%;

        border: 3px #fff solid;
        &:hover {
          opacity: 0.5;
          border-color: $secondary-color;
          @include easeOut;
        }
      }

      //Work Button Styles
      .btn {
        display: block;

        border: 0;
        margin-bottom: 0.3rem;
        &:hover {
          background: $secondary-color;
          color: set-text-color($secondary-color);
        }

        &-dark {
          @extend .btn;
          background: darken($primary-color, 50);
          color: #fff;
          &:hover {
            background: $secondary-color;
            color: set-text-color($secondary-color);
          }
        }

        &-light {
          @extend .btn;
          background: lighten($primary-color, 50);
          color: #333;
          &:hover {
            background: $secondary-color;
            color: set-text-color($secondary-color);
          }
        }
      }
    }
  }
}

@media all and (max-width: 766px) {
  //My Work
  #my-work-page {
    background-color: $primary-color;
    height: 100vh;

    ul.menu-nav,
    div.menu-branding {
      width: 100%;
      min-height: 0;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
    .menu-nav {
      height: 75vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 25px;
    }
    .menu-branding {
      height: 25vh;
      transform: translate3d(100%, 0, 0);

      img {
        width: 110px;
        height: 110px;
      }
    }

    h1.lg-heading {
      font-size: 2.5rem;
      padding-top: 4%;
    }
    .projects {
      margin: auto;
      display: grid;
      grid-template-areas: "col-sm col-sm";
      grid-gap: 0.7rem;
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
    }
  }
}

//Contact Form

section#contact-section {
  background: $primary-color;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $secondary-color;

  header {
    position: static;
    top: 30px;
    left: 50px;
    li.nav-item {
      padding-bottom: 5%;
    }
  }

  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;

    h1 {
      text-align: center;
      text-decoration: underline;
      text-underline-position: under;
      font-size: 30px;
      letter-spacing: 2px;
      padding-bottom: 8%;
    }

    p {
      text-align: center;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 3%;

      letter-spacing: 3px;
    }
  }

  .contact-form {
    display: grid;
    grid-template-columns: auto auto;

    .location {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .contact-hover {
        font-style: italic;
        width: 80%;
        letter-spacing: 2px;
        &:hover {
          cursor: pointer;
          color: white;
        }
        i.fa {
          padding: 3%;
          background-color: none;
          border-radius: 80%;
          margin: 2%;

          cursor: pointer;
          border: 2px solid;
        }
      }
    }
  }

  input {
    padding: 10px;
    margin: 5px;
    width: 80%;
    background-color: rgba(136, 133, 133, 0.5);
    color: $secondary-color;
    border: none;
    outline: none;
  }

  textarea {
    padding: 10px;
    margin: 5px;
    width: 80%;
    background-color: rgba(136, 133, 133, 0.5);
    color: $secondary-color;
    border: none;
    outline: none;
  }

  .submit {
    width: 40%;
    margin-top: 10px;
    background: none;
    padding: 4px;
    outline: none;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    border: 2px solid $secondary-color;
    color: $secondary-color;

    &:hover {
      border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
    }
  }
}

// Responsive for Contact Form

@media all and (max-width: 766px) {
  section#contact-section {
    height: 100%;
    margin: 0;

    border: none;
    letter-spacing: none;
    ul.menu-nav,
    div.menu-branding {
      width: 100%;
      min-height: 0;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
    .menu-nav {
      height: 75vh;
      transform: translate3d(-100%, 0, 0);
    }
    .menu-branding {
      height: 25vh;
      transform: translate3d(100%, 0, 0);

      img {
        width: 110px;
        height: 110px;
      }
    }
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          text-align: center;
          text-decoration: underline;
          text-underline-position: under;

          letter-spacing: 0;
          padding-bottom: 0%;
        }
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: 100%;
        height: 100%;
        .location {
          .contact-hover {
            width: 100%;
            padding-left: 0%;
            max-width: 80%;
            margin: auto;

            letter-spacing: 0;
          }
        }
        .message {
          form {
            text-align: center;
            input {
              margin: 10px 0;
            }
          }
        }
      }

      .submit {
        width: 60%;
      }
    }
  }
}
